/* @import url(); */

/* :root { variables here } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: antiquewhite;
}

.box {
    margin: 40px 0;
    border: dotted;
    width: 300px;
    height: 400px;
    padding: 10px;
}
    
.box div {
    border: solid;
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: aliceblue;
    margin-bottom: 10px;
}